.page-container {
	max-width: 1320px;
	margin: 0 auto;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	line-height: 0;

	@include laptop-middle {
		font-size: 55%;
	}

	@include tablet {
		font-size: 50%;
	}
	@include mobile {
		font-size: 40%;
	}


	ul {
		margin: 0;
	}

	h1 {
		font-size: 3.6rem;
		font-weight: 600;
	}

	h2 {
		font-size: 3.4rem;
	}

	p {
		font-size: 1.6rem;
	}

	.scroll-with-offset {
		padding-top: 100px;
		margin-bottom: -100px;
		@include tablet-middle {
			padding-top: 0;
			margin-bottom: 0;
		}
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: 0;
		margin-left: 0;
	}

	.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-auto, .col-xxxl, .col-xxxl-1, .col-xxxl-2, .col-xxxl-3, .col-xxxl-4, .col-xxxl-5, .col-xxxl-6, .col-xxxl-7, .col-xxxl-8, .col-xxxl-9, .col-xxxl-10, .col-xxxl-11, .col-xxxl-12, .col-xxxl-auto {
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.col-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-3 {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	  }


	@media (min-width: 768px) {
		.col-md-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
		.col-md-7 {
			flex: 0 0 58.333333%;
			max-width: 58.333333%;
		}
		.col-md-5 {
			flex: 0 0 41.666667%;
			max-width: 41.666667%;
		}

		.col-md-4 {
			flex: 0 0 auto;
			width: 33.33333333%;
		  }
	}
	@media (min-width: 991px) {
		.col-lg-6 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
		.col-lg-7 {
			flex: 0 0 58.333333%;
			max-width: 58.333333%;
		}
		.col-lg-5 {
			flex: 0 0 41.666667%;
			max-width: 41.666667%;
		}
	}
}

body {
	font-size: 1.6rem;
	font-family: $font-brand;
	margin: 0;
}