/**
 * @param {Direction} $direction - `top`, `right`, `bottom` or `left`
 * When class added, fadeIn with slide from direction
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* COLORS */
/* TRANSITIONS */
header {
  position: relative;
}

.mini-header {
  background-color: #185063;
  height: 32px;
  padding: 0 10px;
}
@media (max-width: 650px) {
  .mini-header {
    height: auto;
  }
}
.mini-header .head {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}
@media (max-width: 767px) {
  .mini-header .head {
    padding-top: 5px;
  }
}
@media (max-width: 650px) {
  .mini-header .head {
    flex-direction: column;
    padding-bottom: 5px;
    align-items: center;
    gap: 10px 0;
    margin-left: 30px;
  }
}
.mini-header .head p {
  color: #ffffff;
  font-size: 1.4rem;
}
.mini-header .head .design {
  position: relative;
  margin-left: 42px;
}
.mini-header .head .design::after {
  content: "";
  background-image: url("/wp-content/themes/project/assets/icons/crown.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  left: -40px;
  top: -10px;
  width: 30px;
  height: 18px;
}
@media (max-width: 1200px) {
  .mini-header .head .design::after {
    top: -10px;
  }
}
@media (max-width: 767px) {
  .mini-header .head .design::after {
    width: 22px;
    height: 14px;
  }
}
@media (max-width: 650px) {
  .mini-header .head .design {
    margin-left: 0;
  }
}
.mini-header .head .text-right {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
@media (max-width: 991px) {
  .mini-header .head .text-right {
    width: unset;
  }
}
@media (max-width: 575px) {
  .mini-header .head .text-right {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .mini-header .head .text-right p {
    margin-right: 40px;
  }
  .mini-header .head .text-right p:last-child {
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .mini-header .head .text-right p {
    margin-right: 0;
  }
}
.mini-header .head .text-right .poland {
  position: relative;
}
.mini-header .head .text-right .poland::after {
  content: "";
  background-image: url("/wp-content/themes/project/assets/icons/poland.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -25px;
  top: -10px;
  width: 19px;
  height: 17px;
}
.mini-header .head .text-right .shipping {
  position: relative;
}
.mini-header .head .text-right .shipping::after {
  content: "";
  background-image: url("/wp-content/themes/project/assets/icons/delivery.svg");
  position: absolute;
  background-size: cover;
  position: absolute;
  left: -28px;
  top: -11px;
  width: 21px;
  height: 19px;
}
.mini-header .head .text-right .return {
  position: relative;
}
.mini-header .head .text-right .return::after {
  content: "";
  background-image: url("/wp-content/themes/project/assets/icons/rotate.svg");
  position: absolute;
  background-size: cover;
  position: absolute;
  left: -29px;
  top: -11px;
  width: 22px;
  height: 22px;
}

.header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 112px;
  position: relative;
}
.header .left-box {
  display: flex;
  gap: 72px;
}
.header .left-box .menu-wrap {
  display: flex;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap {
    display: none;
  }
  .header .left-box .menu-wrap.open {
    display: block;
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  list-style: none;
  padding: 0;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu {
    flex-direction: column;
    gap: 0;
    align-items: center;
    background-color: #F3F3F3;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu li {
  height: 100%;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li {
    padding: 14px 0;
    margin: 0 16px;
    width: 95%;
    text-align: center;
    border-bottom: 1px solid #E8EAEF;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu li a {
  color: #000000;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  line-height: 26px;
  position: relative;
}
.header .left-box .menu-wrap .menu-menu-container .menu li a:hover {
  color: #11A4AD;
  transition: all 0.25s ease-in-out;
}
.header .left-box .menu-wrap .menu-menu-container .menu li.current_page_item {
  position: relative;
}
.header .left-box .menu-wrap .menu-menu-container .menu li.current_page_item a {
  color: #11A4AD;
  font-weight: 500;
}
.header .left-box .menu-wrap .menu-menu-container .menu li.current_page_item a:hover {
  color: #185063;
}
.header .left-box .menu-wrap .menu-menu-container .menu li.current_page_item::after {
  content: "";
  display: inline-block;
  border-bottom: 4px solid #11A4AD;
  width: 100%;
  position: absolute;
  left: 0;
  top: 65px;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li.current_page_item::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li.menu-item-has-children {
    text-align: center;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu li.menu-item-has-children a::after {
  content: "";
  background: url("/wp-content/themes/project/assets/icons/dropdown.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  right: -16px;
  top: 3px;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li.menu-item-has-children a::after {
    top: 0;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  margin-top: 100px;
  padding: 0px 10px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  max-height: 0;
  gap: 36px 0;
}
.header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu.open {
  max-height: 300px;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu.open {
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu {
    position: static;
    margin-top: 0;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu li {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu li {
    flex: 0 0 100%;
    max-width: 100%;
    border-bottom: none;
    margin: 0;
  }
  .header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu li:first-child {
    margin-top: 20px;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu li a {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 36px;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu li a {
    margin-left: -30px;
    justify-content: center;
  }
}
.header .left-box .menu-wrap .menu-menu-container .menu li .sub-menu li a::after {
  background: none;
}
.header .left-box .menu-wrap .add-menu {
  display: none;
  gap: 15px;
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
  }
  .header .left-box .menu-wrap .add-menu .search-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 42px;
  }
  .header .left-box .menu-wrap .add-menu .search-wrap .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 360px;
    width: 100%;
  }
  .header .left-box .menu-wrap .add-menu .search-wrap .search__input {
    font-family: inherit;
    font-size: inherit;
    border: 1.5px solid #909DAD;
    background-color: #F3F3F3;
    color: #646464;
    padding: 8.5px 16px;
    width: 100%;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__input {
    padding: 9.5px 16px;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__input:focus {
    outline: none;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__input::-webkit-input-placeholder {
    font-weight: 400;
    color: #185063;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__button {
    border: none;
    margin-top: 0.1rem;
    background-color: #F3F3F3;
    border: 1.5px solid #909DAD;
    padding: 6px 16px 6px 16px;
    border-left: none;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__button {
    padding: 6.2px 16px 6px 16px;
  }
}
@media (max-width: 991px) and (max-width: 650px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__button {
    padding: 5px 16px 6px 16px;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__button:hover {
    cursor: pointer;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu .search-wrap .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #4A5164;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu .mail {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 220px;
    margin-left: 30px;
    gap: 36px;
  }
  .header .left-box .menu-wrap .add-menu .mail img {
    width: 27px;
    height: 27px;
  }
  .header .left-box .menu-wrap .add-menu .mail a {
    text-decoration: none;
    color: #000;
  }
}
@media (max-width: 991px) {
  .header .left-box .menu-wrap .add-menu .phone {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 220px;
    margin-left: 30px;
    gap: 36px;
  }
  .header .left-box .menu-wrap .add-menu .phone img {
    width: 27px;
    height: 27px;
  }
  .header .left-box .menu-wrap .add-menu .phone a {
    text-decoration: none;
    color: #000;
  }
}
@media (max-width: 991px) {
  .header .left-box .buttons {
    display: none;
  }
}
.header .left-box .buttons a {
  position: relative;
  margin-right: 30px;
}
.header .left-box .buttons a:last-child {
  margin-right: 0;
}
.header .left-box .buttons a:last-child::after {
  content: "1";
  position: absolute;
  right: -10px;
  top: -17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FABC5F;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.header .left-box .buttons a:hover img {
  scale: 0.8;
  transition: all 0.25s ease-in-out;
}
.header .left-box .buttons a:hover:last-child::after {
  scale: 0.8;
  right: -8px;
  top: -15px;
  transition: all 0.25s ease-in-out;
}
.header .left-box .buttons a img {
  transition: all 0.25s ease-in-out;
}
.header .mobile {
  display: none;
  gap: 40px;
}
@media (max-width: 991px) {
  .header .mobile {
    display: inherit;
  }
}
.header .mobile .burger {
  position: relative;
  width: 30px;
  height: 18px;
  background: transparent;
  cursor: pointer;
  display: block;
}
.header .mobile .burger input {
  display: none;
}
.header .mobile .burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 3px;
  left: 5px;
  width: 80%;
}
.header .mobile .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
.header .mobile .burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 20px;
  left: 5px;
  width: 80%;
}
.header .mobile .burger span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: black;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.header .mobile .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
.header .mobile .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  width: 50%;
  left: 50%;
}
.header .mobile .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
.header .mobile .mobile-menu {
  display: none;
}

footer .mobile-footer {
  display: none;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 991px) {
  footer .mobile-footer {
    position: fixed;
    display: flex;
    bottom: 30px;
    height: 72px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px;
    border-top: 2px solid #CBD3DD;
    transition: all 0.25s ease-in-out;
    z-index: -999;
  }
}

.page-container {
  max-width: 1320px;
  margin: 0 auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 0;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
}
html ul {
  margin: 0;
}
html h1 {
  font-size: 3.6rem;
  font-weight: 600;
}
html h2 {
  font-size: 3.4rem;
}
html p {
  font-size: 1.6rem;
}
html .scroll-with-offset {
  padding-top: 100px;
  margin-bottom: -100px;
}
@media (max-width: 991px) {
  html .scroll-with-offset {
    padding-top: 0;
    margin-bottom: 0;
  }
}
html .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
html .col, html .col-1, html .col-2, html .col-3, html .col-4, html .col-5, html .col-6, html .col-7, html .col-8, html .col-9, html .col-10, html .col-11, html .col-12, html .col-auto, html .col-lg, html .col-lg-1, html .col-lg-2, html .col-lg-3, html .col-lg-4, html .col-lg-5, html .col-lg-6, html .col-lg-7, html .col-lg-8, html .col-lg-9, html .col-lg-10, html .col-lg-11, html .col-lg-12, html .col-lg-auto, html .col-md, html .col-md-1, html .col-md-2, html .col-md-3, html .col-md-4, html .col-md-5, html .col-md-6, html .col-md-7, html .col-md-8, html .col-md-9, html .col-md-10, html .col-md-11, html .col-md-12, html .col-md-auto, html .col-sm, html .col-sm-1, html .col-sm-2, html .col-sm-3, html .col-sm-4, html .col-sm-5, html .col-sm-6, html .col-sm-7, html .col-sm-8, html .col-sm-9, html .col-sm-10, html .col-sm-11, html .col-sm-12, html .col-sm-auto, html .col-xl, html .col-xl-1, html .col-xl-2, html .col-xl-3, html .col-xl-4, html .col-xl-5, html .col-xl-6, html .col-xl-7, html .col-xl-8, html .col-xl-9, html .col-xl-10, html .col-xl-11, html .col-xl-12, html .col-xl-auto, html .col-xxl, html .col-xxl-1, html .col-xxl-2, html .col-xxl-3, html .col-xxl-4, html .col-xxl-5, html .col-xxl-6, html .col-xxl-7, html .col-xxl-8, html .col-xxl-9, html .col-xxl-10, html .col-xxl-11, html .col-xxl-12, html .col-xxl-auto, html .col-xxxl, html .col-xxxl-1, html .col-xxxl-2, html .col-xxxl-3, html .col-xxxl-4, html .col-xxxl-5, html .col-xxxl-6, html .col-xxxl-7, html .col-xxxl-8, html .col-xxxl-9, html .col-xxxl-10, html .col-xxxl-11, html .col-xxxl-12, html .col-xxxl-auto {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
html .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
html .col-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}
html .col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
@media (min-width: 768px) {
  html .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  html .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  html .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  html .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 991px) {
  html .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  html .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  html .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}/*# sourceMappingURL=main.css.map */