footer {
    .mobile-footer {   
        display: none;
        transition: $trans-fast;
        @include tablet-middle {
            position: fixed;
            display: flex;
            bottom: 30px;
            height: 72px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 0 38px;
            border-top: 2px solid #CBD3DD;
            transition: $trans-fast;
            z-index: -999;
        }
    }
}