header {
    position: relative;
}
.mini-header {
    background-color: $second-color;
    height: 32px;
    padding: 0 10px;
    @media (max-width:650px) {
        height: auto;
    }
    .head {
        display: flex;
        justify-content: space-between;
        padding-top: 3px;
        @include mobile {
            padding-top: 5px;
        }
        @media (max-width:650px) {
            flex-direction: column;
            padding-bottom: 5px;
            align-items: center;
            gap: 10px 0;
            margin-left: 30px;
        }
        p {
            color: $white;
            font-size: 1.4rem;
        }
        .design {
            position: relative;
            margin-left: 42px;
            &::after {
                content: '';
                background-image: url('/wp-content/themes/project/assets/icons/crown.svg');
                position: absolute;   
                background-repeat: no-repeat;
                background-size: cover; 
                left: -40px;
                top: -10px;
                width: 30px;
                height: 18px;
                @include laptop-middle {
                    top: -10px;
                }
                @include mobile {
                    width: 22px;
                    height: 14px;
                }
            }
            @media (max-width:650px) {
                margin-left: 0;
            }
        }
        .text-right {
            display: flex;
            justify-content: space-between;
            width: 500px;
            @include tablet-middle {
                width: unset;
            }
            @include mobile-xs {
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            p {
                @include tablet-middle {
                    margin-right: 40px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                @include mobile-xs {
                    margin-right: 0;
                }
            }
            .poland {
                position: relative;
                &::after {
                    content: '';
                    background-image: url('/wp-content/themes/project/assets/icons/poland.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;   
                    left: -25px;
                    top: -10px;
                    width: 19px;
                    height: 17px;
                }
            }
            .shipping {
                position: relative;
                &::after {
                    content: '';
                    background-image: url('/wp-content/themes/project/assets/icons/delivery.svg');
                    position: absolute;    
                    background-size: cover;
                    position: absolute;    
                    left: -28px;
                    top: -11px;
                    width: 21px;
                    height: 19px;
                }
            }
            .return {
                position: relative;
                &::after {
                    content: '';
                    background-image: url('/wp-content/themes/project/assets/icons/rotate.svg');
                    position: absolute;    
                    background-size: cover;
                    position: absolute;   
                    left: -29px;
                    top: -11px;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}
.header {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
    position: relative;
    .left-box {
        display: flex;
        gap: 72px;
        .menu-wrap {
            display: flex;
            @include tablet-middle{
                display: none;
                &.open {
                    display: block;
                    position: absolute;
                    top: 112px;
                    left: 0;
                    right: 0;
                }
            }
            .menu-menu-container {
                .menu {
                    display: flex;
                    justify-content: space-between;
                    gap: 70px;
                    list-style: none;
                    padding: 0;
                    @include tablet-middle {
                        flex-direction: column;
                        gap: 0;
                        align-items: center;
                        background-color: #F3F3F3;
                    }
                    li {
                        height: 100%;
                        @include tablet-middle {
                            padding: 14px 0;
                            margin: 0 16px;
                            width: 95%;
                            text-align: center;
                            border-bottom: 1px solid #E8EAEF;
                        }
                        a {
                            color: $black;
                            text-decoration: none;
                            transition: $trans-fast;
                            line-height: 26px;
                            position: relative;
                            &:hover {
                                color: $main-color;
                                transition: $trans-fast;
                            }
                        }
                        &.current_page_item{
                            position: relative;
                            a{
                                color: $main-color;
                                font-weight: 500;
                                &:hover {
                                    color: $second-color;
                                }
                            }
                            &::after {
                                content: '';
                                display: inline-block;
                                border-bottom: 4px solid $main-color;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                top: 65px;
                                @include tablet-middle {
                                    display: none;
                                }
                            }
                        }
                        &.menu-item-has-children {
                            @include tablet-middle {
                                text-align: center;
                            }
                            a {
                                &::after {
                                    content: '';
                                    background: url('/wp-content/themes/project/assets/icons/dropdown.svg');
                                    position: absolute;   
                                    background-repeat: no-repeat;
                                    background-size: cover; 
                                    display: block;
                                    position: absolute;
                                    width: 14px;
                                    height: 14px;
                                    right: -16px;
                                    top: 3px;
                                    @include tablet-middle {
                                        top: 0;
                                    }
                                }
                            }
                        }
                        .sub-menu {
                            display: flex;
                            flex-wrap: wrap;
                            list-style: none;
                            font-family: "Raleway", sans-serif;
                            font-weight: 500;
                            position: absolute;
                            left: 0;
                            top: 140px;
                            width: 100%;
                            margin: 0 auto;
                            justify-content: flex-start;
                            margin-top: 100px;
                            padding: 0px 10px;
                            transition: $trans-medium;
                            overflow: hidden;
                            max-height: 0;
                            gap: 36px 0;
                            &.open {
                                max-height: 300px;
                                @include tablet-middle {
                                    max-height: fit-content;
                                }
                            }
                            @include tablet-middle {
                                position: static;
                                margin-top: 0;
                            }
                            li {
                                flex: 0 0 25%;
                                max-width: 25%;
                                text-align: center;
                                @include tablet-middle {
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                    border-bottom: none;
                                    margin: 0;
                                    &:first-child {
                                        margin-top: 20px;
                                    }
                                }
                                a {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row-reverse;
                                    justify-content: flex-end;
                                    gap: 36px;
                                    @include tablet-middle {
                                        margin-left: -30px;
                                        justify-content: center;
                                    }
                                    &::after {
                                        background: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .add-menu {
                display: none;
                gap: 15px;
                @include tablet-middle {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #F3F3F3;
                    .search-wrap {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        width: 100%;
                        margin-top: 42px;
                        .search {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            text-align: center;
                            max-width: 360px;
                            width: 100%;
                          }
                          
                          .search__input {
                            font-family: inherit;
                            font-size: inherit;
                            border: 1.5px solid #909DAD;
                            background-color: #F3F3F3;
                            color: #646464;
                            padding: 8.5px 16px;
                            width: 100%;
                            transition: all ease-in-out 0.5s;
                            margin-right: -2rem;
                            @include mobile {
                                padding: 9.5px 16px;
                            }
                          }
                          
                          .search__input:focus {
                            outline: none;
                          }
                          
                          .search__input::-webkit-input-placeholder {
                            font-weight: 400;
                            color: $second-color;
                          }
                          
                          .search__button {
                            border: none;
                            margin-top: 0.1rem;
                            background-color: #F3F3F3;
                            border: 1.5px solid #909DAD;
                            padding: 6px 16px 6px 16px;
                            border-left: none;
                            @include mobile{
                                padding: 6.2px 16px 6px 16px;
                            }
                            @media (max-width: 650px) {
                                padding: 5px 16px 6px 16px;
                            }
                          }
                          
                          .search__button:hover {
                            cursor: pointer;
                          }
                          
                          .search__icon {
                            height: 1.3em;
                            width: 1.3em;
                            fill: #4A5164;
                          }
                      }
                    .mail {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        width: 100%;
                        max-width: 220px;
                        margin-left: 30px;
                        gap: 36px;
                        img {
                            width: 27px;
                            height: 27px;
                        }
                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                    .phone {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        width: 100%;
                        max-width: 220px;
                        margin-left: 30px;
                        gap: 36px;
                        img {
                            width: 27px;
                            height: 27px;
                        }
                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }
            }
        }
        .buttons {
            @include tablet-middle {
                display: none;
            }
            a {
                position: relative;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                    &::after {
                        content: '1';
                        position: absolute;
                        right: -10px;
                        top: -17px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $third-color;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        color: $white;
                        text-decoration: none;
                        transition: $trans-fast;
                    }
                }
                &:hover {
                    img {
                        scale: 0.8;
                        transition: $trans-fast;
                    }
                    &:last-child {
                        &::after {
                            scale: 0.8;
                            right: -8px;
                            top: -15px;
                            transition: $trans-fast;
                        }
                    }
                }
                img {
                    transition: $trans-fast;
                }
            }
        }
    }
    .mobile {
        display: none;
        gap: 40px;
        @include tablet-middle {
            display: inherit;
        }
        .burger {
            position: relative;
            width: 30px;
            height: 18px;
            background: transparent;
            cursor: pointer;
            display: block;
            input {
                display: none;
                &:checked ~ span:nth-of-type(1) {
                    transform: rotate(45deg);
                    top: 3px;
                    left: 5px;
                    width: 80%;
                }
                &:checked ~ span:nth-of-type(2) {
                    width: 0%;
                    opacity: 0;
                }
                &:checked ~ span:nth-of-type(3) {
                    transform: rotate(-45deg);
                    top: 20px;
                    left: 5px;
                    width: 80%;
                }
            }
            span {
                display: block;
                position: absolute;
                height: 2.5px;
                width: 100%;
                background: black;
                border-radius: 20px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                &:nth-of-type(1) {
                    top: 0px;
                    transform-origin: left center;
                }
                &:nth-of-type(2) {
                    top: 50%;
                    transform: translateY(-50%);
                    transform-origin: left center;
                    width: 50%;
                    left: 50%;
                }
                &:nth-of-type(3) {
                    top: 100%;
                    transform-origin: left center;
                    transform: translateY(-100%);
                }
            }
          }
        .mobile-menu {
            display: none;
        }
    }
}