/**
 * @param {Direction} $direction - `top`, `right`, `bottom` or `left`
 * When class added, fadeIn with slide from direction
 */
@mixin animate-from($direction) {
    opacity: 0;
    transition: .5s ease-in-out;
    &.animated {
        opacity: 1;
    }
    @if $direction==top {
        transform: translateY(-50px);
        &.animated {
            transform: translateY(0);
        }
    }

    @else if $direction==right {
        transform: translateX(50px);
        &.animated {
            transform: translateX(0);
        }
    }

    @else if $direction==bottom {
        transform: translateY(50px);
        &.animated {
            transform: translateY(0);
        }
    }

    @else if $direction==left {
        transform: translateX(-50px);
        &.animated {
            transform: translateX(0);
        }
    }
}