/* COLORS */
$text-color: #000000;
$black: #000000;
$white: #ffffff;
$brand: #ff0000;
$brand-dark: #A60000;
$default: $white;
$main-color: #11A4AD;
$second-color: #185063;
$third-color: #FABC5F;



$font-brand: 'Montserrat', sans-serif;


/* TRANSITIONS */

$trans-fast: all .25s ease-in-out;
$trans-medium: all .5s ease-in-out;
$trans-slow: all .75s ease-in-out;
